<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <!-- <link rel="stylesheet" href="/assets/css/styles.css"> -->
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">

  <script src="/assets/js/script.js" defer></script>
</head>
<body>
  <div class="container">
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>
</html>
